
# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/RemoteSystemsTempFiles
.project

# Eclipse Core
.project

# Code Recommenders
.recommenders/
